@import "tailwindcss";

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.5);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar-custom {
  scrollbar-width: auto;
  scrollbar-color: rgba(255,255,255,0.5) rgba(0,0,0,0.1);
}